$rotateAnimate: rotate 2s linear infinite;
/*
 * Circular Loader
 */

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
}

.circular {
  width: 100%;
  height: 100%;
  animation: $rotateAnimate;
  transform-origin: center center;
}

.path {
  stroke: rgba(0,0,0,0.3);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

.loader--submit {
  left: auto;
  right: 20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid gray;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid gray;
  animation: rotate 2s linear infinite;
  animation-duration: 1s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35opx;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -120px;
  }
}
