button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &.btn--reset {
    background-color: rgba(0,0,0,0);
    border: 0;
  }

  &.btn--icon img {
    width: $navIcon-size;
  }
}
