button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &.btn--reset {
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: 0;
  }

  &.btn--icon img {
    width: $navIcon-size;
  }
}

.btn--fab {
  padding: 0;
  outline: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  font-size: 30px;
  line-height: 50px;
  box-shadow: $normal-shadow;
  color: rgba(0,0,0,0.9);
}
