.card {
  min-width: 200px;
  cursor: pointer;
  .card-inner {
    margin: $normal-spacing;
  }
  img {
    width: 100%;
    box-shadow: $normal-shadow;
  }
}

.grid-item--small {
  width: 20%;
}

.grid-item--medium {
  width: 40%;
}

.grid-item--large {
  width: 60%;
}