.card {
  min-width: 200px;
  cursor: pointer;
  .card-inner {
    margin: $normal-spacing;
  }
  img {
    width: 100%;
    box-shadow: $normal-shadow;
  }
}

.grid-sizer,
.grid-item--small {
  width: 20%;
}

.grid-item--medium {
  width: 40%;
}

.grid-item--large {
  width: 60%;
}

.packery-drop-placeholder {
  outline: 2px dashed rgba(0,0,0,0.5);
  outline-offset: -6px;
  transition: transform 0.2s;
}