.card {
  padding: $normal-spacing;
  min-width: 200px;
  max-width: 400px;
  img {
    width: 100%;
  }
}

.grid-item--size1 {
  width: 20%;
}

.grid-item--size2 {
  width: 40%;
}

.grid-item--size3 {
  width: 60%;
}