%flex-vertical-center {
  display: flex;
  align-items: center;
}

%absolute-horizontal-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

%general-block-frame {
  background-color: #fff;
  box-shadow: $normal-shadow;
  border-radius: 3px;
}