.navbar {
  width: 80%;
  margin: auto;
  @extend %flex-vertical-center;
  justify-content: space-between;
  
  .navbar-nav {
    @extend %flex-vertical-center;
  }

  .navbar-brand img {
    width: 250px;
  }
}