// Local variables
$popOver-borderRadius: 3px;
$popOver-top: 60px;

.popover {
  position: absolute;
  z-index: 2;
  opacity: 0;
  pointer-events: none;

  // user menu block
  &.avatar-pop {
    top: $popOver-top;
    right: 10%;
    @extend %general-block-frame;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0, 1.26, 1, 1);

    &::before {
      display: inline-block;
      position: absolute;
      top: -15px;
      right: 15px;
      z-index: -1;
      width: 15px;
      height: 15px;
      content: '';
      background-color: #fff;
      box-shadow: -1px -1px 1px -1px rgba(0,0,0,0.4);
      transform: rotate(45deg) translate(6px, 6px);
    }
  }
  // login & signup form block
  &.authForm-pop {
    top: $popOver-top;
    right: 10%;
    padding: 20px;
    @extend %general-block-frame;
  }
  .popover-inner {
    padding: 8px 0;
    transform: translateY(10px);
    transition: 0.5s;

    .list-item {
      line-height: 1.5;
      text-align: left;

      a, button {
        padding: 10px 25px;
        color: $linkFont-color;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.2s;
      }
      &:hover {
        a {
          color: $linkFont-color--hover;
        }
        background-color: $bg-color;
        transition: 0.2s;
      }
    }
  }
  &.pop--active {
    opacity: 1;
    pointer-events: all;
    .popover-inner {
      transform: translateY(0);
    }
  }
}