// Global CSS Variables

// Layout
$normal-spacing: 5px;

// Colors
$bg-color : #e2e2e2;
$linkFont-color: rgba(0,0,0,0.7);
$linkFont-color--hover: rgba(0,0,0,0.9);
$normal-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);

// Size
$avatar-size: 36px;
$navIcon-size: 25px;